.App {
  text-align: center;
  background-color: #DEDEDE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  font-size: calc(10px + 2vmin);
  /* color: #DEDEDE; */
}

/* .home-img {
  height: 20rem;
} */

.nav-bar {
  /* margin-left: 5%; */
  overflow: hidden;
  min-width: 95vw;
  min-height: 15vh;
  max-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5C465D;
  position: fixed;
  z-index: 1;
}

.nav-bar ul {
  display: flex;
}

.nav-bar ul li {
  list-style-type: none;
}

.nav-bar ul li a {
  color: #DEDEDE;
  text-decoration: none;
  display: block;
  padding: 1em 3em;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.nav-bar ul li a:hover {
  font-weight: bolder;
}

.logo {
  /* border: solid red; */
  width: 20%;
  padding-left: 2%;
}

.table-container {
  padding-top: 18vh;
  overflow: scroll;
}

/* audio {
  filter: sepia(20%) saturate(70%) grayscale(1) contrast(99%) invert(12%);
  width: 200px;
  height: 25px;
} */

.song-table {
  width: 80vw;
  font-family: 'Open Sans', sans-serif;
  color: #5C465D;
  border-collapse: separate;
  border-spacing: 15px;
}

/* .song-table tr {
  line-height: 10vmin;
  background-color: rosybrown;
} */

.col1 {
  width: 30vmin
}

.song-position-number {
  font-size: 4rem;
  font-weight: bolder;
  background: -webkit-linear-gradient(#F54F87, #5C465D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.cover-trim-div {
  /* border: solid red; */
  max-height: 165px;
  max-width: 165px;
  min-height: 165px;
  min-width: 165px;
  overflow: hidden;
  box-shadow: 0 4px 8px 0 #F54F87, 0 6px 20px 0 #F54F87;
}

/* .song-cover {
  box-shadow: 0 4px 8px 0 #F54F87, 0 6px 20px 0 #F54F87;
} */

.song-title {
  font-weight: bolder;
}

/* .col2 {
  background-color: yellow;
}

.col3 {
  background-color: green;
} */

/* .item-container {
  display: flex;
  justify-content: space-around;
}

.item-list {
  text-align: left;
  height: 80vh;
  width: 60vw;
  overflow: scroll;
}

.item-list > ol >li {
  margin: 20px;
}

.item-detail {
  border: solid #DEDEDE;
  width: 30vw;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #DEDEDE;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
