.App {
  text-align: center;
  background-color: #DEDEDE;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.nav-bar {
  overflow: hidden;
  min-width: 95vw;
  min-height: 15vh;
  max-height: 15vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #5C465D;
  position: fixed;
  z-index: 1;
}

.nav-bar ul {
  display: flex;
  overflow-x: scroll;
  -ms-overflow-style: none;  /* Hides scrollbar in IE and Edge */
  scrollbar-width: none;  /* and Firefox */
}

/* Hides scrollbar in Chrome, Safari and Opera */
.nav-bar ul::-webkit-scrollbar {
  display: none;
}

.nav-bar ul li {
  list-style-type: none;
}

.nav-bar ul li a {
  color: #DEDEDE;
  text-decoration: none;
  display: block;
  padding: 1.5em 1.5em;
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

.nav-bar ul li a:hover {
  font-weight: bolder;
}

.logo {
  width: 20%;
  padding-left: 2%;
}

.logo-mobile {
  display: none;
}

.table-container {
  padding-top: 18vh;
  overflow: scroll;
}

.song-table {
  width: 80vw;
  font-family: 'Open Sans', sans-serif;
  color: #5C465D;
  border-collapse: separate;
  border-spacing: 15px;
}

.col1 {
  width: 30vmin
}

.song-position-number {
  font-size: 4rem;
  font-weight: bolder;
  background: -webkit-linear-gradient(#F54F87, #5C465D);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  
}

.song-title {
  font-weight: bolder;
}

.song-cover img {
  box-shadow: 0 4px 8px 0 #F54F87, 0 6px 20px 0 #F54F87;
  margin: 1rem;
}

/* AUDIO PLAYER */

audio {
  width: 50vmin;
  height: 2.2rem;
  margin: 2rem;
}

audio::-webkit-media-controls-panel {
  background-color: #bba8ae;
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {

  /* Responsive table */

  table, tbody, th, td, tr {
    display: block;
  }

  td {
    position: relative;
    font-size: 1.8rem;
  }

  td:before {
    position: absolute;
    white-space: nowrap;
  }

  /* Restyled navbar for mobiles */
  /* https://css-tricks.com/responsive-data-tables/ excellent tutorial! */

  .nav-bar {
    width: 100%;
    
    min-height: 10vh;
    max-height: 10vh;
  }

  .logo {
    display: none;
  }

  .logo-mobile {
    display: inline;
    width: 12%;
    padding-left: 2%;
    z-index: 2;
  }

  .nav-bar ul {
    padding: 0;
    margin-left: 10%;
  }

  .nav-bar ul li a {
    font-size: 1.2rem;
    padding: 1rem 1.5em;
  }

  .nav-bar ul li {
    width: 100%;
    float: none;
  }

}